In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Create a pandas series with some random numbers and texts and some null values.
- Add some data to your series
-  Change data type to integer
-  Remove the null values
-  Sort the index of your series alphabetically
-  Count the occurrences of unique items of the series
-  Sort the given series in descending order

In [2]:
#Create a pandas series with some random numbers and texts and some null values.

data = np.array(['Machine Learning', 'Deep Learning' ,'Fuse Machine', 3 ])

ser1 = pd.Series(data)

print(ser1)

0    Machine Learning
1       Deep Learning
2        Fuse Machine
3                   3
dtype: object

In [3]:
#Add some data to your series
ser1 = ser1.append(pd.Series(['added', 'values']))
print(ser1)

#Remove the null values

ser1.dropna(inplace=True)
ser1

0    Machine Learning
1       Deep Learning
2        Fuse Machine
3                   3
0               added
1              values
dtype: object

0    Machine Learning
1       Deep Learning
2        Fuse Machine
3                   3
0               added
1              values
dtype: object

In [4]:
# Change data type to integer
new =pd.get_dummies(ser1, prefix='data')
new.astype(int)
new.dtypes

new

,data_3,data_Deep Learning,data_Fuse Machine,data_Machine Learning,data_added,data_values
0,0,0,0,1,0,0
1,0,1,0,0,0,0
2,0,0,1,0,0,0
3,1,0,0,0,0,0
0,0,0,0,0,1,0
1,0,0,0,0,0,1

***

### Create a dataframe having 5 columns and 50 random data
- Retrieve the data from index 30-40 with the first 3 columns (Note: Use column index only)
-  Retrieve last 10 rows of 2nd and 5th columns (Note: Use column name only)
-  Retrieve 1st and 5th column with some condition applied to 2nd column (Condition Example: all rows having value greater than x).
- Sample some of the data from the 1st column into a list and add some additional random data in it. Filter the dataframe and retrieve only those rows if 1st column contains the sampled data (Explore ‘isin’)
- Update the value of the 1st and 3rd column with new values in the 35th index of row
- Delete the row of the index position: 35, 39, 51. And reindex the dataframe

In [5]:
#Create a dataframe having 5 columns and 50 random data

df = pd.DataFrame(np.random.randint(0,100,size=(50, 5)), columns=list('ABCDE'))

In [6]:
#Retrieve the data from index 30-40 with the first 3 columns (Note: Use column index only)

retriving1 = df[['A','B','C']][30:41]
# print(retriving1)

In [7]:
# Retrieve 1st and 5th column with some condition applied to 2nd column (Condition Example: all rows having value greater than x).

retriving2 =df[df['B']<25][['A','E']]
# retriving2

In [8]:
# Sample some of the data from the 1st column into a list and add some additional random data in it.

other = df[df['B']<25][['A','B','C','D','E']]

new_df = pd.DataFrame(np.random.randint(0,100,size=(9, 5)), columns=list('ABCDE'))

new_df = new_df.append(other , ignore_index = True)

# Filter the dataframe and retrieve only those rows if 1st column contains the sampled data (Explore ‘isin’)

col1 = new_df['A']
filterd = df[df['A'].isin(col1)]

# filterd

In [9]:
# Update the value of the 1st and 3rd column with new values in the 35th index of row

one_row = df.loc[35]
# one_row = one_row['A']

df.loc[1]['A'] = one_row['A']
df.loc[1]['C'] = one_row['C']

df.loc[3]['A'] = one_row['A']
df.loc[3]['C'] = one_row['C']

In [10]:
# Delete the row of the index position: 35, 39, 51. And reindex the dataframe

df.drop([35,39], inplace=True) #droping the selected index
df.reset_index(drop = True , inplace=True) #resetting index

#There is no 51th index, as we have created only 50 items

In [11]:
# df

***

### Create two dataframe (first dataframe having 50 random data and second dataframe having 40 random data). Each dataframe should have 3 columns including a common column (example: id) and 90% of data in common column should have identical data
#### Merge both the dataframe using:
- Inner
- Outer
- Left
- Right
- Evaluate the differences observed
##### Use join() to combine the dataframe
##### Use concat to combine the dataframe
##### Evaluate the differences observed between merge, join and concat

In [12]:
# Create two dataframe (first dataframe having 50 random data and second dataframe having 40 random data). Each dataframe should have 3 columns including a common column (example: id) and 90% of data in common column should have identical data

common_c= pd.Series(np.random.randint(10, size=36))
df1 = pd.DataFrame(np.random.randint(0,50,size=(50, 3)), columns=list('ABC'))
df2 = pd.DataFrame(np.random.randint(0,40,size=(50, 3)), columns=list('CDE'))

df1_sam = df1.sample(36)
df2_sam = df2.sample(36)

ind1 = df1_sam.index
df1.loc[ind1, 'C'] = common_c.tolist()

ind2 = df2_sam.index
df2.loc[ind2, 'C'] = common_c.tolist()

In [13]:
# Merge both the dataframe using:
# - Inner

inner = pd.merge(df1, df2, how="inner" , on ='C')
# inner


# Evaluation

In [14]:
# - Outer

outer = pd.merge(df1, df2, how="outer" , on ='C')
# outer

In [15]:

# - Left

left = pd.merge(df1, df2, how="left" , on ='C')
# left

In [16]:
# - Right

right = pd.merge(df1, df2, how="right" , on ='C')
# right

In [17]:
# Use join() to combine the dataframe

join_data = df1.join(df2 , how = 'inner', on='C', rsuffix='c')
# join_data

In [18]:
# Use concat to combine the dataframe
join_data = pd.concat([df1 , df2], ignore_index=False)

join_data

       A     B  C     D     E
0   38.0  25.0  5   NaN   NaN
1   37.0  28.0  1   NaN   NaN
2   28.0  15.0  8   NaN   NaN
3    8.0   9.0  8   NaN   NaN
4   25.0  39.0  8   NaN   NaN
..   ...   ... ..   ...   ...
45   NaN   NaN  3  26.0  19.0
46   NaN   NaN  0  26.0  22.0
47   NaN   NaN  3  28.0  21.0
48   NaN   NaN  2  18.0  32.0
49   NaN   NaN  5   1.0  30.0

[100 rows x 5 columns]

In [19]:
# Evaluate the differences observed between merge, join and concat

****
### Create a dataframe having 3 columns: name, nationality, age and perform:
- Use filter() to get all data of column name and age
- Retrieve all the data of the column starting with “na”
- Retrieve all the data of the column ending with “e”
- Retrieve all the data of the column having subset “am” (hint: explore ‘like’ in filter())

In [20]:
dict = {
    "name":['Ragnar', 'Floki', 'Lagaretha', 'Ivar'],
    "nationality":['USA', 'UK', 'Nepali', 'India'],
    "age":[18, 20,21, 23 ]
}

new_df = pd.DataFrame(dict)
new_df

        name nationality  age
0     Ragnar         USA   18
1      Floki          UK   20
2  Lagaretha      Nepali   21
3       Ivar       India   23

In [21]:
# Use filter() to get all data of column name and age
dataframe = new_df.filter(['name','age'])
dataframe

        name  age
0     Ragnar   18
1      Floki   20
2  Lagaretha   21
3       Ivar   23

In [22]:
# Retrieve all the data of the column starting with “na”

dataframe = new_df.filter(regex = '^(na)')
dataframe

        name nationality
0     Ragnar         USA
1      Floki          UK
2  Lagaretha      Nepali
3       Ivar       India

In [23]:
# Retrieve all the data of the column ending with “e”

dataframe = new_df.filter(regex = '(e)$')
dataframe

        name  age
0     Ragnar   18
1      Floki   20
2  Lagaretha   21
3       Ivar   23

In [24]:
# Retrieve all the data of the column having subset “am”

dataframe = new_df.filter(like = 'am')
dataframe

        name
0     Ragnar
1      Floki
2  Lagaretha
3       Ivar

***

### Use this (raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-01-2021.csv) dataset and perform the following tasks:
#### Read the dataset as pandas dataframe
##### Filter the Country_Region whose value == “India” and assign it in dataframe df_india.
- Retrieve the active cases of “Madhya Pradesh” Province from df_india.
- Retrieve the state with the maximum number of confirmed cases from df_india.
- Filter the Country_Region whose value == “Canada” and assign it in dataframe df_canada.
- Province/State Diamond Princess has the “NaN” value for Active number of cases. Fill it with the median of the Active cases.
- Filter the Country_Region whose value == “US” and assign it in dataframe df_us.
- Groupby the df_us dataframe by ‘State_Province’ and aggregate with maximum values of the attributes and assign it in df_us_states.
-  Re-index the dataframe df_us_states.
-  The United States has 50 states. df_us_states contains additional states which are not the states of the United States. Remove those additional states from the dataframe.
- Which state has the minimum number of active cases?
##### Find the number of cases for each country

In [25]:
# Read the dataset as pandas dataframe

datas = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/01-01-2021.csv')

In [26]:
# Retrieve the active cases of “Madhya Pradesh” Province from df_india.
df_india =datas[ datas['Country_Region'] == 'India']

In [27]:
# Retrieve the state with the maximum number of confirmed cases from df_india.
df_india_state = df_india[['Province_State', 'Confirmed']]
df_india_state = df_india_state.sort_values('Confirmed' , ascending = False)
# df_india_state

In [28]:
# Filter the Country_Region whose value == “Canada” and assign it in dataframe df_canada.

df_canada = datas[ datas['Country_Region'] == 'Canada']

In [33]:
# Province/State Diamond Princess has the “NaN” value for Active number of cases. Fill it with the median of the Active cases.

df_canada = df_canada.fillna(df_canada.median(skipna = True))

df_canada.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
76,NaN,NaN,Alberta,Canada,2021-01-02 05:22:33,53.9333,-116.5765,100428,1046,84827,14555.0,"Alberta, Canada",2275.655507,1.041542
77,NaN,NaN,British Columbia,Canada,2021-01-02 05:22:33,53.7267,-127.6476,51990,901,42127,8962.0,"British Columbia, Canada",1017.234285,1.733026
78,NaN,NaN,Diamond Princess,Canada,2020-12-21 13:27:30,53.1355,-85.3232,0,1,0,22.0,"Diamond Princess, Canada",685.920578,1.041542
79,NaN,NaN,Grand Princess,Canada,2020-12-21 13:27:30,53.1355,-85.3232,13,0,13,0.0,"Grand Princess, Canada",685.920578,0.000000
80,NaN,NaN,Manitoba,Canada,2021-01-02 05:22:33,53.7609,-98.8139,24700,667,19528,4505.0,"Manitoba, Canada",1793.081320,2.700405

In [34]:
# Filter the Country_Region whose value == “US” and assign it in dataframe df_us.

df_us = datas[ datas['Country_Region'] == 'US']

df_us.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
649,1001.0,Autauga,Alabama,US,2021-01-02 05:22:33,32.539527,-86.644082,4239,50,0,4189.0,"Autauga, Alabama, US",7587.391935,1.179523
650,1003.0,Baldwin,Alabama,US,2021-01-02 05:22:33,30.727750,-87.722071,13823,169,0,13654.0,"Baldwin, Alabama, US",6192.157109,1.222600
651,1005.0,Barbour,Alabama,US,2021-01-02 05:22:33,31.868263,-85.387129,1517,33,0,1484.0,"Barbour, Alabama, US",6145.183505,2.175346
652,1007.0,Bibb,Alabama,US,2021-01-02 05:22:33,32.996421,-87.125115,1854,46,0,1808.0,"Bibb, Alabama, US",8279.003304,2.481122
653,1009.0,Blount,Alabama,US,2021-01-02 05:22:33,33.982109,-86.567906,4693,63,0,4630.0,"Blount, Alabama, US",8115.726490,1.342425

In [91]:
# Groupby the df_us dataframe by ‘State_Province’ and aggregate with maximum values of the attributes and assign it in df_us_states.

df_us.shape

df_us_states  = df_us.groupby(['Province_State']).max()

df_us_states

,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
Province_State,,,,,,,,,,,,,
Alabama,90001.0,Winston,US,2021-01-02 05:22:33,34.901719,-85.184153,53058,719,0,52339.0,"Winston, Alabama, US",10522.288119,4.480652
Alaska,90002.0,Yukon-Koyukuk,US,2021-04-02 15:13:53,69.314792,-130.975561,22922,120,0,22802.0,"Yukon-Koyukuk, Alaska, US",13205.699989,3.225806
Arizona,90004.0,Yuma,US,2021-01-02 05:22:33,35.838834,-109.240528,325404,5196,0,320208.0,"Yuma, Arizona, US",13080.132479,3.213063
Arkansas,90005.0,Yell,US,2021-01-02 05:22:33,36.381771,-90.051944,25209,392,0,24817.0,"Yell, Arkansas, US",21713.759214,4.715840
California,90006.0,Yuba,US,2021-01-02 05:22:33,41.742283,-115.366904,790582,10552,0,780030.0,"Yuba, California, US",15343.603833,3.149606
Colorado,90008.0,Yuma,US,2021-01-02 05:22:33,40.875954,-102.351923,48023,669,0,47354.0,"Yuma, Colorado, US",27388.219766,6.521739
Connecticut,90009.0,Windham,US,2021-01-02 05:22:33,41.858538,-71.981823,56288,1852,0,54568.0,"Windham, Connecticut, US",5966.934229,3.967438
Delaware,90010.0,Unassigned,US,2021-01-02 05:22:33,39.579926,-75.390313,33433,541,0,32969.0,"Unassigned, Delaware, US",6474.970648,1.964922
Diamond Princess,88888.0,NaN,US,2020-08-04 02:27:56,NaN,NaN,49,0,0,49.0,"Diamond Princess, US",NaN,0.000000
District of Columbia,11001.0,District of Columbia,US,2021-01-02 05:22:33,38.904178,-77.016560,29252,788,0,28464.0,"District of Columbia, District of Columbia ,US",4144.816358,2.693833
Florida,90012.0,Washington,US,2021-01-02 05:22:33,30.867475,-80.431098,298873,4188,0,294685.0,"Washington, Florida, US",16884.350511,4.517026
Georgia,90013.0,Worth,US,2021-01-02 05:22:33,34.913692,-81.124895,58565,790,0,57961.0,"Worth, Georgia, US",20243.880077,7.276995
Grand Princess,99999.0,NaN,US,2020-08-04 02:27:56,NaN,NaN,103,3,0,100.0,"Grand Princess, US",NaN,2.912621
Guam,66.0,NaN,US,2021-01-02 05:22:33,13.444300,144.793700,7326,122,0,7204.0,"Guam, US",4460.844309,1.665302
Hawaii,90015.0,Unassigned,US,2021-01-02 05:22:33,22.039350,-155.521017,18235,224,0,18011.0,"Unassigned, Hawaii, US",1871.095045,2.341311
Idaho,90016.0,Washington,US,2021-01-02 05:22:33,48.766848,-111.205677,38262,355,0,37907.0,"Washington, Idaho, US",13150.575087,3.095238
Illinois,90017.0,Woodford,US,2021-01-02 05:22:33,42.365424,-87.728840,393652,7860,0,385367.0,"Woodford, Illinois, US",13056.721824,4.454343
Indiana,90018.0,Whitley,US,2021-01-02 05:22:33,41.644239,-84.924971,71487,1300,0,70331.0,"Whitley, Indiana, US",11260.580010,3.846154
Iowa,90019.0,Wright,US,2021-01-02 05:22:33,43.381079,-90.532751,41670,412,0,41258.0,"Wright, Iowa, US",18995.922528,5.468750
Kansas,90020.0,Wyandotte,US,2021-01-02 05:22:33,39.827996,-94.763782,40608,454,0,40202.0,"Wyandotte, Kansas, US",22085.431822,5.970149
Kentucky,90021.0,Woodford,US,2021-01-02 05:22:33,38.970651,-82.394874,50804,530,0,50274.0,"Woodford, Kentucky, US",14088.882885,3.636364
Louisiana,90022.0,Winn,US,2021-01-02 05:22:33,32.831211,-89.518871,31498,679,0,30829.0,"Winn, Louisiana, US",13977.554292,4.492261
Maine,90023.0,York,US,2021-01-02 05:22:33,46.659263,-67.628135,7457,98,0,7359.0,"York, Maine, US",2527.770904,4.450262
Maryland,90024.0,Worcester,US,2021-01-02 05:22:33,39.623576,-75.332000,55139,1129,0,54050.0,"Worcester, Maryland, US",7773.801409,3.638814
Massachusetts,90025.0,Worcester,US,2021-01-02 05:22:33,42.668763,-70.288543,75615,2729,0,72886.0,"Worcester, Massachusetts, US",7405.130831,7.198748
Michigan,90026.0,Wexford,US,2021-01-02 05:22:33,47.631977,-82.679380,84941,3624,0,81317.0,"Wexford, Michigan, US",8613.653473,5.228758
Minnesota,90027.0,Yellow Medicine,US,2021-01-02 05:22:33,48.777541,-90.526295,86273,1382,0,84891.0,"Yellow Medicine, Minnesota, US",16320.680568,13.288288
Mississippi,90028.0,Yazoo,US,2021-01-02 05:22:33,34.880845,-88.239172,14885,272,0,14746.0,"Yazoo, Mississippi, US",11454.408440,4.809287
Missouri,90029.0,Wright,US,2021-01-02 05:22:33,40.479456,-89.295058,69480,1391,0,68089.0,"Wright, Missouri, US",10855.641320,4.402516
Montana,90030.0,Yellowstone,US,2021-01-02 05:22:33,48.784200,-104.251093,13847,161,0,13686.0,"Yellowstone, Montana, US",15391.545912,10.000000
Nebraska,90031.0,York,US,2021-01-02 05:22:33,42.899727,-95.717550,53581,515,0,53066.0,"York, Nebraska, US",17502.247079,13.043478
Nevada,90032.0,White Pine,US,2021-01-02 05:22:33,41.406922,-114.879039,171850,2384,0,169466.0,"White Pine, Nevada, US",12371.747212,3.030303
New Hampshire,90033.0,Unassigned,US,2021-01-02 05:22:33,44.690633,-71.023360,17624,435,0,17189.0,"Unassigned, New Hampshire, US",4226.125532,2.468225
New Jersey,90034.0,Warren,US,2021-01-02 05:22:33,41.138916,-74.071643,52473,2399,0,45300.0,"Warren, New Jersey, US",8002.973142,5.679934
New Mexico,90035.0,Valencia,US,2021-01-02 05:22:33,36.605697,-103.346888,41121,573,0,40548.0,"Valencia, New Mexico, US",13845.334678,6.529851
New York,90036.0,Yates,US,2021-01-02 05:22:33,44.745309,-72.801217,127132,7745,0,119554.0,"Yates, New York, US",8523.308031,271.875000
North Carolina,90037.0,Yancey,US,2021-01-02 05:22:33,36.493609,-75.717673,62454,554,0,61900.0,"Yancey, North Carolina, US",7731.658560,3.931204
North Dakota,90038.0,Williams,US,2021-01-02 05:22:33,48.814939,-96.948530,19929,176,0,19760.0,"Williams, North Dakota, US",18058.592042,4.624277
Northern Mariana Islands,69.0,NaN,US,2021-01-02 05:22:33,15.097900,145.673900,122,2,0,120.0,"Northern Mariana Islands, US",221.238938,1.639344
Ohio,90039.0,Wyandot,US,2021-01-02 05:22:33,41.708603,-80.748302,84050,1511,0,83352.0,"Wyandot, Ohio, US",10498.315001,4.037267
Oklahoma,90040.0,Woodward,US,2021-01-02 05:22:33,36.835327,-94.658593,57993,441,0,57552.0,"Woodward, Oklahoma, US",16345.142055,2.374670
Oregon,90041.0,Yamhill,US,2021-01-02 05:22:33,45.997129,-117.183538,25290,390,0,24900.0,"Yamhill, Oregon, US",9466.487848,5.882353
Pennsylvania,90042.0,York,US,2021-01-02 05:22:33,41.992538,-75.032081,93885,2450,0,91435.0,"York, Pennsylvania, US",7503.576228,4.643351
Puerto Rico,72999.0,Yauco,US,2021-01-02 05:22:33,18.459681,-65.288130,11063,1521,0,11063.0,"Yauco, Puerto Rico, US",3474.112944,63.988220
Recovered,NaN,NaN,US,2021-01-02 05:22:33,NaN,NaN,0,0,0,0.0,"Recovered, US",NaN,NaN
Rhode Island,90044.0,Washington,US,2021-01-02 05:22:33,41.870647,-71.265698,58946,1348,0,57598.0,"Washington, Rhode Island, US",9225.722339,2.543507
South Carolina,90045.0,York,US,2021-01-02 05:22:33,35.051223,-78.995553,37327,502,0,36825.0,"York, South Carolina, US",8041.202989,4.179728
South Dakota,90046.0,Ziebach,US,2021-01-02 05:22:33,45.770749,-96.655783,24977,264,0,24713.0,"Ziebach, South Dakota, US",21435.845214,5.791506
Tennessee,90047.0,Wilson,US,2021-01-02 05:22:33,36.556065,-81.848865,66562,903,0,65659.0,"Wilson, Tennessee, US",20068.415051,2.998236
Texas,90048.0,Zavala,US,2021-01-02 05:22:33,36.278291,-93.744088,239657,3417,0,236240.0,"Zavala, Texas, US",16739.666028,9.523810
Utah,90049.0,Weber-Morgan,US,2021-01-02 05:22:33,41.521068,-109.517442,107386,553,0,106833.0,"Weber-Morgan, Utah, US",10569.993792,2.275960
Vermont,90050.0,Windsor,US,2021-01-02 05:22:33,44.856276,-71.735799,2658,69,0,2589.0,"Windsor, Vermont, US",1622.968237,4.612546
Virgin Islands,78.0,NaN,US,2021-01-02 05:22:33,18.335800,-64.896300,2036,23,0,2013.0,"Virgin Islands, US",1898.049745,1.129666
Virginia,90051.0,York,US,2021-01-02 05:22:33,39.201726,-75.632346,44525,683,0,43842.0,"York, Virginia, US",13187.332598,7.211538
Washington,90053.0,Yakima,US,2021-01-02 05:22:33,48.822280,-117.202285,62580,1050,0,61530.0,"Yakima, Washington, US",9212.156855,4.761905
West Virginia,90054.0,Wyoming,US,2021-01-02 05:22:33,40.519439,-77.860141,8766,207,0,8559.0,"Wyoming, West Virginia, US",7897.871073,3.695652
Wisconsin,90055.0,Wood,US,2021-01-02 05:22:33,46.528688,-87.300027,92090,1003,0,91087.0,"Wood, Wisconsin, US",15759.438104,6.261860
Wyoming,90056.0,Weston,US,2021-01-02 05:22:33,44.790489,-104.353474,7045,92,0,6983.0,"Weston, Wyoming, US",10106.721683,2.664975

In [93]:
# Re-index the dataframe df_us_states.

df_us_states.reset_index(inplace=True)
df_us_states.head()

,Province_State,FIPS,Admin2,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Alabama,90001.0,Winston,US,2021-01-02 05:22:33,34.901719,-85.184153,53058,719,0,52339.0,"Winston, Alabama, US",10522.288119,4.480652
1,Alaska,90002.0,Yukon-Koyukuk,US,2021-04-02 15:13:53,69.314792,-130.975561,22922,120,0,22802.0,"Yukon-Koyukuk, Alaska, US",13205.699989,3.225806
2,Arizona,90004.0,Yuma,US,2021-01-02 05:22:33,35.838834,-109.240528,325404,5196,0,320208.0,"Yuma, Arizona, US",13080.132479,3.213063
3,Arkansas,90005.0,Yell,US,2021-01-02 05:22:33,36.381771,-90.051944,25209,392,0,24817.0,"Yell, Arkansas, US",21713.759214,4.715840
4,California,90006.0,Yuba,US,2021-01-02 05:22:33,41.742283,-115.366904,790582,10552,0,780030.0,"Yuba, California, US",15343.603833,3.149606

In [139]:
# The United States has 50 states. df_us_states contains additional states which are not the states of the United States. Remove those additional states from the dataframe.


states =["Alaska",
                  "Alabama",
                  "Arkansas",
                  "Arizona",
                  "California",
                  "Colorado",
                  "Connecticut",
                  "District of Columbia",
                  "Delaware",
                  "Florida",
                  "Georgia",
                  "Hawaii",
                  "Iowa",
                  "Idaho",
                  "Illinois",
                  "Indiana",
                  "Kansas",
                  "Kentucky",
                  "Louisiana",
                  "Massachusetts",
                  "Maryland",
                  "Maine",
                  "Michigan",
                  "Minnesota",
                  "Missouri",
                  "Mississippi",
                  "Montana",
                  "North Carolina",
                  " North Dakota",
                  "Nebraska",
                  "New Hampshire",
                  "New Jersey",
                  "New Mexico",
                  "Nevada",
                  "New York",
                  "Ohio",
                  "Oklahoma",
                  "Oregon",
                  "Pennsylvania",
                  "Rhode Island",
                  "South Carolina",
                  "South Dakota",
                  "Tennessee",
                  "Texas",
                  "Utah",
                  "Virginia",
                  "Vermont",
                  "Washington",
                  "Wisconsin",
                  "West Virginia",
                  "Wyoming"]
states = pd.Series(states)

states = pd.DataFrame(states)

us_states = df_us_states[df_us_states['Province_State'].isin(states[0])]

us_states = df_us_states[df_us_states['Province_State'].isin(states[0])]

us_states.reset_index(drop = True, inplace = True)

# states

In [140]:
# Which state has the minimum number of active cases?


us_states_min_case = us_states.sort_values('Active' ).iloc[0].Province_State
us_states_min_case

'Vermont'

In [146]:
# Find the number of cases for each country

new_data = datas[['Country_Region', 'Active']]

In [150]:
new_data.groupby(["Country_Region"]).sum()

            Country_Region
Active
-1083768.0          Mexico
-951318.0             Peru
-8880.0            Belgium
-355.0                  US
-154.0                  US
...                    ...
 385367.0               US
 432735.0             Peru
 780030.0               US
 2125971.0  United Kingdom
 2400750.0          France

[2920 rows x 1 columns]

In [149]:
new_data

     Country_Region   Active
0       Afghanistan      0.0
1           Albania  23501.0
2           Algeria  29740.0
3           Andorra    570.0
4            Angola   6017.0
...             ...      ...
3976       Zimbabwe   2368.0
3977             US      0.0
3978             US      0.0
3979          China      0.0
3980       Kiribati      0.0

[3981 rows x 2 columns]